
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Clientes</h4>
        </div>
        <p>
          <a class="ml-4" [routerLink]="['/clientes/new']"><button class="btn btn-danger btn-sm">Novo Cliente</button></a>
        </p>
        <div class=" card-body">
          <div >     
            
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Cidade</th>
                  <th>UF</th>
                  <th class=" text-center">Ações</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let cliente of resources">
                  <td>{{cliente.id}}</td>
                  <td>{{cliente.nome}}</td>
                  <td>{{cliente.cpf}}</td>
                  <td>{{cliente.cidade}}</td>
                  <td>{{cliente.uf}}</td>
                  <td>
                    <a [routerLink]="[cliente.id, 'edit']">
                      <button class="btn btn-info btn-icon btn-sm " rel="tooltip" type="button" data-original-title="" title=""><i class="fa fa-user"></i></button>
                   </a>
                    <a >
                       <button  (click)="deleteResource(cliente)"  class="btn btn-danger btn-icon btn-sm " rel="tooltip" type="button" data-original-title="" title=""><i class="fa fa-times"></i></button>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>